<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nguyen Hoang Chuong">
    <meta name="author" content="Nguyen Hoang Chuong">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="/Assets/Admin/favicon.ico">

    <!-- App title -->
    <title>@ViewBag.Title</title>


    @RenderSection("cssHeader", required: false)

    <!-- Switchery css -->
    <link href="/Assets/Admin/plugins/switchery/switchery.min.css" rel="stylesheet" />
    <!-- App CSS -->
    <link href="/Assets/Admin/css/style.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/bundles/admin/css");

</head>
<body class="fixed-left">
    <!-- Begin page -->
    <div id="wrapper">
        <!-- Top Bar Start -->
        @{Html.RenderAction("TopMenu", "Home");}
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        @RenderPage("LeftMenu.cshtml")
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="page-title-box">
                                <h4 class="page-title">
                                    @RenderSection("PageTitle")
                                </h4>
                                <ol class="breadcrumb p-0">
                                    @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                                    {
                                        @Html.ActionLink("Trang chủ", "Index", "Home")
                                        <li class="active">@ViewBag.Title / </li>
                                    }
                                    else
                                    {
                                        <li class="active">Trang chủ</li>
                                    }
                                </ol>
                                <div class="clearfix"></div>
                            </div>
                            @RenderBody()
                        </div>
                    </div>
                    <!-- end row -->
                </div> <!-- container -->
            </div> <!-- content -->
        </div>
        <!-- End content-page -->
        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <div class="footer text-right">
            <span>@DateTime.Now.Year.ToString() © Led Sáng Việt</span>
        </div>
        <script>
            var resizefunc = [];
        </script>
    </div>
    <!-- END wrapper -->
    <!-- jquery  -->
    <script src="/Assets/Admin/js/jquery.min.js"></script>
    <script src="/Assets/Admin/js/tether.min.js"></script><!-- Tether for Bootstrap -->
    <script src="/Assets/Admin/js/bootstrap.min.js"></script>
    <script src="/Assets/Admin/js/detect.js"></script>
    <script src="/Assets/Admin/js/fastclick.js"></script>
    <script src="/Assets/Admin/js/jquery.blockUI.js"></script>
    <script src="/Assets/Admin/js/waves.js"></script>
    <script src="/Assets/Admin/js/jquery.nicescroll.js"></script>
    <script src="/Assets/Admin/js/jquery.scrollTo.min.js"></script>
    <script src="/Assets/Admin/js/jquery.slimscroll.js"></script>
    <script src="/Assets/Admin/plugins/switchery/switchery.min.js"></script>
    <!-- app js -->
    <script src="/Assets/Admin/js/jquery.core.js"></script>
    <script src="/Assets/Admin/js/jquery.app.js"></script>

    <script src="/Assets/Admin/plugins/moment/moment.js"></script>
    <script src="/Assets/Admin/plugins/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="/Assets/Admin/plugins/mjolnic-bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/Assets/Admin/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
    <script src="/Assets/Admin/plugins/clockpicker/bootstrap-clockpicker.js"></script>
    <script src="/Assets/Admin/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>

    <script src="/Assets/Admin/pages/jquery.form-pickers.init.js"></script>

    <!-- ck finder/ editor -->
    <script src="/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
    <script src="/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    @RenderSection("jsFooter", required: false)
</body>

</html>