@model ledsangviet_chuongnh.Models.Slide

@{
    ViewBag.Title = "Xóa slide | Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section PageTitle{
    Xóa slide
}

<div class="card-box">

    <h3>Bạn có chắc chắn là muốn xóa không?</h3>
    <div>
        <h4>Slide</h4>
        <hr />
        <dl class="dl-horizontal" style="padding:0px 20px 0px 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Link)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-primary" /> |
                @Html.ActionLink("Trở về danh sách", "Index")
            </div>
        }
    </div>

</div>