@model ledsangviet_chuongnh.Models.Slide

@{
    ViewBag.Title = "Chi tiết slide | Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section PageTitle{
    Chi tiết slide
}

<div class="card-box">

    <div>
        <h4>Slide</h4>
        <hr />
        <dl class="dl-horizontal" style="padding:0px 20px 0px 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Link)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Link)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>

</div>