@model ledsangviet_chuongnh.Models.Feedback

@{
    ViewBag.Title = "Liên hệ | LED";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var contact = (ledsangviet_chuongnh.Models.About)ViewBag.Contact;
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <!-- <div class="panel-heading">
                <h4>Invoice</h4>
            </div> -->
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h2 class="logo" style="color: #2b3d51 !important;">Thông tin liên hệ</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-5">

                        <div class="pull-xs-left">
                            <address>
                                <strong>@contact.Name</strong><br>
                                Địa chỉ: @contact.Address<br>
                                Email: @contact.Email<br>
                                Hotline: @contact.Hotline
                            </address>
                            <hr>
                            @using (Html.BeginForm("Create", "Contact", FormMethod.Post))
                            {
                                <fieldset class="form-group">
                                    <label for="txtName">Họ tên (*)</label>
                                    @Html.LabelFor(model => model.Name)
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @type = "text", @placeholder = "Nhập họ tên của bạn" })
                                </fieldset>
                                <fieldset class="form-group">
                                    @Html.LabelFor(model => model.Email)
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @type = "text", @placeholder = "Nhập địa chỉ email" })
                                </fieldset>
                                <fieldset class="form-group">
                                    @Html.LabelFor(model => model.Address)
                                    @Html.TextBoxFor(model => model.Address, new { @class = "form-control", @type = "text", @placeholder = "Nhập địa chỉ nơi ở của bạn" })
                                </fieldset>
                                <fieldset class="form-group">
                                    @Html.LabelFor(model => model.PhoneNumber)
                                    @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control", @type = "text", @placeholder = "Nhập số điện thoại của bạn" })
                                </fieldset>
                                <fieldset class="form-group">
                                    @Html.LabelFor(model => model.Content)
                                    @Html.TextAreaFor(model => model.Content, new { @class = "form-control", @type = "text", @placeholder = "Nhập địa nội dung bạn muốn gửi" })
                                </fieldset>

                                <button id="btnSend" type="submit" class="btn btn-primary">Gửi cho chúng tôi</button>
                            }
                        </div>
                    </div><!-- end col -->
                    <div class="col-xs-12 col-lg-12 col-xl-7">
                        <div class="thumb">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.519256915468!2d106.71454831435112!3d10.848054492272949!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317527a3c8f1c0f1%3A0xbe9b041a3642434b!2zxJDGsOG7nW5nIFPhu5EgOSwgVGjhu6cgxJDhu6ljLCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1475915828056" width="665" height="565" frameborder="0" style="border:0" allowfullscreen class="thumb-img"></iframe>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->