
@{
    ViewBag.Title = "Trang chủ | Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var categoryCount = (int)ViewBag.CategoryCount;
    var productCount = (int)ViewBag.ProductCount;
    var newsCount = (int)ViewBag.NewsCount;
    var accountCount = (int)ViewBag.AccountCount;
    var visitorCount = (int)ViewBag.VisitorCount;
    var deliveryCount = (int)ViewBag.DeliveryCount;
}
@section PageTitle{
    Trang chủ
}
@section cssHeader{
    <!--calendar css-->
    <link href="/Assets/Admin/plugins/fullcalendar/dist/fullcalendar.css" rel="stylesheet" />
}
@section jsFooter{
    <!-- Jquery-Ui -->
    <script src="/Assets/Admin/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- BEGIN PAGE SCRIPTS -->
    <script src="/Assets/Admin/plugins/moment/moment.js"></script>
    <script src="/Assets/Admin/plugins/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/Assets/Admin/pages/jquery.fullcalendar.js"></script>
}

<div class="row">
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/Category"><i class="ion-ios7-albums"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/Category">Loại sản phẩm</a></h6>
                <h2 class="m-b-10"><span>@categoryCount</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/Product"><i class="ion-android-archive"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/Product">Sản phẩm</a></h6>
                <h2 class="m-b-10"><span>@productCount</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/News"><i class="ion-navicon-round"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/News">Tin tức</a></h6>
                <h2 class="m-b-10"><span data-plugin="counterup">@newsCount</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/Account"><i class="ion-android-contact"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/Account">Người dùng</a></h6>
                <h2 class="m-b-10"><span>@accountCount</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/Delivery"><i class="typcn typcn-export"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/Delivery">Hệ thống phân phối</a></h6>
                <h2 class="m-b-10"><span>@deliveryCount</span></h2>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
        <div class="card-box tilebox-three">
            <div class="bg-icon pull-xs-left">
                <a href="/Admin/Visitor"><i class="typcn typcn-group"></i></a>
            </div>
            <div class="text-xs-right">
                <h6 class="text-success text-uppercase m-b-15 m-t-10"><a href="/Admin/Visitor">Khách ghé thăm</a></h6>
                <h2 class="m-b-10"><span>@visitorCount</span></h2>
            </div>
        </div>
    </div>
</div>

@*<div class="card-box">
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <a href="#" data-toggle="modal" data-target="#add-category" class="btn btn-lg btn-success btn-block waves-effect m-t-20 waves-light">
                        <i class="fa fa-plus"></i> Tạo mới
                    </a>
                    <div id="external-events" class="m-t-20">
                        <br>
                        <p class="text-muted">Kéo và thả các sự kiện của bạn hoặc nhấp trong lịch</p>
                        <div class="external-event bg-primary" data-class="bg-primary">
                            <i class="fa fa-move"></i>Phát hành chủ đề mới
                        </div>
                        <div class="external-event bg-pink" data-class="bg-pink">
                            <i class="fa fa-move"></i>Sự kiện của tôi
                        </div>
                        <div class="external-event bg-warning" data-class="bg-warning">
                            <i class="fa fa-move"></i>Quản lý gặp gỡ
                        </div>
                        <div class="external-event bg-purple" data-class="bg-purple">
                            <i class="fa fa-move"></i>Tạo chủ đề mới
                        </div>
                    </div>

                    <!-- checkbox -->
                    <div class="checkbox checkbox-custom m-t-40">
                        <input id="drop-remove" type="checkbox">
                        <label for="drop-remove">
                            Hủy bỏ sau khi thả
                        </label>
                    </div>

                </div>
            </div>
        </div> <!-- end col-->
        <div class="col-md-9">
            <div id="calendar"></div>
        </div> <!-- end col -->
    </div>  <!-- end row -->
</div>

<!-- BEGIN MODAL -->
<div class="modal fade none-border" id="event-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Thêm sự kiện mới</h5>
            </div>
            <div class="modal-body p-20"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success save-event waves-effect waves-light">Tạo sự kiện</button>
                <button type="button" class="btn btn-danger delete-event waves-effect waves-light" data-dismiss="modal">Xóa</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Category -->
<div class="modal fade none-border" id="add-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h5 class="modal-title">Thêm một danh mục</h5>
            </div>
            <div class="modal-body p-20">
                <form role="form">
                    <div class="row">
                        <div class="col-md-6">
                            <label class="control-label">Tên danh mục</label>
                            <input class="form-control form-white" placeholder="Enter name" type="text" name="category-name" />
                        </div>
                        <div class="col-md-6">
                            <label class="control-label">Chọn loại màu</label>
                            <select class="form-control form-white" data-placeholder="Choose a color..." name="category-color">
                                <option value="success">Success</option>
                                <option value="danger">Danger</option>
                                <option value="info">Info</option>
                                <option value="pink">Pink</option>
                                <option value="primary">Primary</option>
                                <option value="warning">Warning</option>
                                <option value="inverse">Inverse</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger waves-effect waves-light save-category" data-dismiss="modal">Lưu</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->*@