@model ledsangviet_chuongnh.Models.Category

@{
    ViewBag.Title = "Xóa loại sản phẩm| Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@section PageTitle{
   Xóa loại sản phẩm
}
<div class="card-box">
    <h3>Bạn có chắc chắn là muốn xóa không?</h3>
    <div>
        <dl class="dl-horizontal" style="padding:0px 20px 0px 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" class="btn btn-primary" /> |
                @Html.ActionLink("Trở lại danh sách", "Index")
            </div>
        }
    </div>

</div>
