@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var about = (ledsangviet_chuongnh.Models.About)ViewBag.About;
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h2 class="logo" style="color: #2b3d51 !important;">Tư vấn</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-5">
                        <div class="thumb">
                            <img src="@about.Image" class="thumb-img">
                        </div>

                    </div><!-- end col -->
                    <div class="col-xs-12 col-lg-12 col-xl-7">
                        <div class="pull-xs-left" style="margin-top: 15px">
                            <address>
                                <span><strong>@about.Name</strong></span><br>
                                <span>Địa chỉ: @about.Address</span><br>
                                <span>Email: @about.Email</span><br>
                                <span>Hotline: @about.Hotline</span>
                                <hr>
                                <span>@Html.Raw(about.Description)<br></span>
                            </address>
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>

    </div>

</div>
<!-- end row -->