@model ledsangviet_chuongnh.Models.Product
@{
    ViewBag.Title = Model.Name;
    ViewBag.Keyword = Model.MetaKeywords;
    ViewBag.Description = Model.MetaDescription;

    Layout = "~/Views/Shared/_Layout.cshtml";
    var productRelate = (List<ledsangviet_chuongnh.Models.Product>)ViewBag.productRelate;
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="thumb">
                            <img src="@Model.Image" class="thumb-img" alt="@Model.Name">
                        </div>
                    </div><!-- end col -->
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">

                        <div class="pull-xs-left" style="margin-top: 15px">
                            <address>
                                <strong><h4>@Model.Name</h4></strong><hr>
                                <strong>MÃ SẢN PHẨM : <span style="color:green">@Model.Code</span></strong><br>
                                @{
                                    if (string.IsNullOrEmpty(Model.Promotion) == true)
                                    {
                                        <strong>GIÁ SẢN PHẨM : </strong><strong style="color:green">@Model.Price</strong><br>
                                    }
                                    else
                                    {
                                        <strong>
                                            GIÁ SẢN PHẨM : <span style="color:green"><del style="color:darkolivegreen">@Model.Price</del> - @Model.Promotion</span>
                                        </strong><br>
                                    }
                                }
                                <strong>CHIP LED : <span style="color:green">@Model.ChipLed</span></strong><br>
                                <strong>THỜI GIAN BẢO HÀNH : <span style="color:green">@Model.Waranty</span></strong><br><hr />
                                <span>@Html.Raw(Model.Note)</span>
                            </address>

                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
                <br>
                <div style="padding-bottom:5px">@Html.Raw(Model.Description)</div>
                @*<h4>Các giá trị thông số</h4>
                    <table class="table table-sm">
                        <tbody>
                            <tr>
                                <th>Thông số</th>
                                <th>Giá trị</th>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                            <tr>
                                <td>Chip led</td>
                                <td>100</td>
                            </tr>
                        </tbody>

                    </table>*@
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- product relative-->

<div class="card-box" style="margin-bottom:0px;">
    <h4>Sản phẩm liên quan</h4>
</div>
<div class="row">
    @foreach (var p in productRelate)
    {
        <div class="portfolioContainer">
            <div class="col-sm-6 col-md-3">
                <div class="thumb">
                    <a href="/san-pham/@p.MetaTitle-@p.Id" class="image-popup" title="@p.Name">
                        <img src="@p.Image" class="thumb-img" alt="work-thumbnail">
                    </a>
                    <div class="gal-detail text-xs">
                        <h4 class="m-t-10"><a href="/san-pham/@p.MetaTitle-@p.Id">@p.Name</a></h4>
                        <p class="text-muted">
                            @{
                                if (string.IsNullOrEmpty(p.Promotion) == true)
                                {
                                    <span>Giá sản phẩm: <strong style="color:green">@p.Price</strong></span><br>
                                }
                                else
                                {
                                    <span>
                                        Giá sản phẩm: <strong style="color:green">
                                            <del style="color:darkolivegreen">@p.Price</del><span> - @p.Promotion</span>
                                        </strong>
                                    </span><br>
                                }
                            }
                            Chip led: <strong style="color:green">@p.ChipLed</strong><br>
                            Hãng sản xuất: <strong style="color:green">@p.Manufacturer</strong><br>
                            Thời hạn bảo hành: <span style="color:green">@p.Waranty</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- / product relative-->
<br>

