@model List<ledsangviet_chuongnh.Models.Product>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var keyword = ViewBag.Keyword;
    ViewBag.Title = "Kết quả tìm kiếm " + "\"" + @keyword + "\"";
}


<div class="card-box" style="margin-bottom:0px">
    <h4>Danh sách sản phẩm được tìm thấy với từ khóa: "@keyword"</h4>
</div>
@if (@Model.Count() == 0)
{
    <hr />
    <div class="card-box">
        <h4>Không tìm thấy sản phẩm nào</h4>
    </div>
    return;
}
<div class="row">
    @foreach (var p in Model)
    {
        <div class="portfolioContainer">
            <div class="col-sm-6 col-md-3">
                <div class="thumb">
                    <a href="/san-pham/@p.MetaTitle-@p.Id" class="image-popup" title="/san-pham/@p.MetaTitle-@p.Id">
                        <img src="@p.Image" class="thumb-img" alt="@p.Name">
                    </a>
                    <div class="gal-detail text-xs">
                        <h4 class="m-t-10"><a href="/san-pham/@p.MetaTitle-@p.Id" title="/san-pham/@p.MetaTitle-@p.Id">@p.Name</a></h4>
                        <p class="text-muted">
                            @{
                                if (string.IsNullOrEmpty(p.Promotion) == true)
                                {
                                    <span>Giá sản phẩm: <strong style="color:green">@p.Price</strong></span><br>
                                }
                                else
                                {
                                    <span>
                                        Giá sản phẩm: <strong style="color:green">
                                            <del style="color:darkolivegreen">@p.Price</del><span> - @p.Promotion</span>
                                        </strong>
                                    </span><br>
                                }
                            }
                            Chip led: <strong style="color:green">@p.ChipLed</strong><br>
                            Hãng sản xuất: <strong style="color:green">@p.Manufacturer</strong><br>
                            Thời hạn bảo hành: <span style="color:green">@p.Waranty</span>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- / product relative-->
<br />

