@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var category = (List<ledsangviet_chuongnh.Models.Category>)ViewBag.Category;
    var product = (List<ledsangviet_chuongnh.Models.Product>)ViewBag.Product;
    var slide = (List<ledsangviet_chuongnh.Models.Slide>)ViewBag.Slide;
    var news = (List<ledsangviet_chuongnh.Models.News>)ViewBag.News;
}


<div class="row">
    <div class="col-xs-12 col-lg-12 col-xl-8">
        <div class="card">
            <!-- START carousel-->
            <div id="carousel-example-captions-1" data-ride="carousel" class="carousel slide">
                <ol class="carousel-indicators">
                    @if (slide.Count() > 0)
                    {
                    <li data-target="#carousel-example-captions-1" data-slide-to="0" class="active"></li>
                    }
                    @for (int i = 1; i < slide.Count(); i++)
                    {
                    <li data-target="#carousel-example-captions-1" data-slide-to="@i"></li>
                    }
                </ol>
                <div role="listbox" class="carousel-inner">
                    @if (slide.Count() > 0)
                    {
                    <div class="carousel-item active">
                        <img src="@slide[0].Image" alt="@slide[0].Image">
                    </div>
                    <div class="carousel-caption">
                        <h3 class="text-white font-600">@slide[0].Name</h3>
                        <p>@slide[0].Description</p>
                    </div>
                    }
                    @for (int i = 1; i < slide.Count(); i++)
                    {
                    <div class="carousel-item">
                        <img src="@slide[i].Image" alt="@slide[i].Name">
                    </div>
                    <div class="carousel-caption">
                        <h3 class="text-white font-600">@slide[i].Name</h3>
                        <p>@slide[i].Description</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div><!-- end col-->
    <div class="col-xs-12 col-lg-12 col-xl-4">
        <div class="card-box">
            <h4 class="header-title m-t-0 m-b-20">Tin tức</h4>
            <div class="blog-widget nicescroll" style="max-height: 407px">
                @foreach (var n in news)
                {
                <a href="/tin-tuc/@n.MetaTitle-@n.Id" title="/tin-tuc/@n.MetaTitle-@n.Id">
                    <div class="blog-item">
                        <div class="blog-item-img"><img src="@n.Image" class="img" alt="@n.Image"></div>
                        <p class="blog-item-title">@n.Title.Substring(0, n.Title.Length > 72 ? 70 : n.Title.Length)...</p>
                        <p class="blog-item-text">@n.Description.Substring(0, n.Description.Length > 100 ? 100 : n.Description.Length)...</p>
                    </div>
                </a>
                }
            </div>
        </div>
    </div><!-- end col-->
</div>
<!-- end row -->

@foreach (var c in category)
{
    <div class="card-box" style="padding-top:0px; padding-bottom:0px; margin-bottom:0px;">
        <div class="row" style="padding-top:0px; padding-bottom:0px; margin-bottom:0px;">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h4 class="page-title">
                    <a href="/loai-san-pham/@c.MetaTitle-@c.Id"><span style="color:#000">@c.Name</span> </a>
                </h4>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 hidden-xs hidden-sm">
                <div class="pull-md-right pull-lg-right" style="padding-top:25px">
                    <a href="/loai-san-pham/@c.MetaTitle-@c.Id">Xem tất cả sản phẩm</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var p in c.Products)
        {
            <div class="portfolioContainer">
                <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <div class="thumb">
                        <a href="/san-pham/@p.MetaTitle-@p.Id" class="image-popup" title="@p.Name">
                            <img src="@p.Image" class="thumb-img" alt="@p.Name">
                        </a>
                        <div class="gal-detail text-xs">
                            <h4 class="m-t-10"><a href="/san-pham/@p.MetaTitle-@p.Id" title="@p.Name">@p.Name</a></h4>
                            <p class="text-muted">
                                Giá sản phẩm: <strong style="color:green">@p.Price VNĐ</strong><br>
                                Chip led: <strong style="color:green">@p.ChipLed</strong><br>
                                Bảo hành: <span style="color:green">@p.Waranty</span><br>
                                Hãng sản xuất: <strong style="color:green">@p.Manufacturer</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <br />
}
<br>
