@model ledsangviet_chuongnh.Models.Product

@{
    ViewBag.Title = "Chi tiết sản phẩm | Admin";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section PageTitle{
    Chi tiết sản phẩm
}

<div class="card-box">
    <div>
        <dl class="dl-horizontal" style="padding:0px 20px 0px 20px">
            <dt>
                @Html.DisplayNameFor(model => model.Category.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Category.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Code)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Code)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Promotion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Promotion)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChipLed)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChipLed)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Waranty)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Waranty)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.Raw(Model.Description)
            </dd>

            <dt>
                @Html.Raw(Model.Note )
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Note)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Image)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Image)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Manufacturer)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DisplayOrder)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DisplayOrder)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ShowOnHome)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ShowOnHome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MetaKeywords)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetaKeywords)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.MetaDescription)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MetaDescription)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Trở về danh sách", "Index")
    </p>

</div>