@model ledsangviet_chuongnh.Models.Category
@{
    ViewBag.Title = Model.Name;
    ViewBag.Keyword = Model.MetaKeywords;
    ViewBag.Description = Model.MetaDescription;

    Layout = "~/Views/Shared/_Layout.cshtml";
    var productRelate = (List<ledsangviet_chuongnh.Models.Product>)ViewBag.ProductRelate;
}

<!-- Page-Title -->
<div class="row">
    <div class="col-xs-12">
        <div class="card-box">
            <div class="panel-body">
                <div class="clearfix">
                    <div class="pull-left">
                        <h2 class="logo" style="color: #2b3d51 !important;">@Model.Name</h2>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12 col-lg-12 col-xl-6">

                        <div class="pull-xs-left" style="margin-top: 15px">
                            <address>
                                <strong>@Model.Name</strong><br><br>
                                <span>@Html.Raw(Model.Description)</span><hr>
                            </address>

                        </div>
                    </div><!-- end col -->
                    <div class="col-xs-12 col-lg-12 col-xl-6">
                        <div class="thumb">
                            <img src="@Model.Image" class="thumb-img" alt="@Model.Name">
                        </div>
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div>
        </div>
    </div>
</div>
<!-- end row -->
<!-- product relative-->
<div class="card-box" style="margin-bottom:0px;">
    <h4>Danh sách sản phẩm</h4>
</div>
<div class="row">
    @foreach (var p in productRelate)
    {
        <div class="portfolioContainer">
            <div class="col-sm-6 col-md-3">
                <div class="thumb">
                    <a href="/san-pham/@p.MetaTitle-@p.Id" class="image-popup" title="/san-pham/@p.MetaTitle-@p.Id">
                        <img src="@p.Image" class="thumb-img" alt="@p.Name">
                    </a>
                    <div class="gal-detail text-xs">
                        <h4 class="m-t-10"><a href="/san-pham/@p.MetaTitle-@p.Id" title="/san-pham/@p.MetaTitle-@p.Id">@p.Name</a></h4>
                        <p class="text-muted">
                            Giá sản phẩm: <strong>@p.Price</strong><br>
                            Chip led: <strong>@p.ChipLed</strong><br>
                            Bảo hành: @p.Waranty<br>
                            Hãng sản xuất: <strong>@p.Manufacturer</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- / product relative-->
<br />